%h1{:class => "header"} Innkjøpsliste
%ul
  - for article in @article
    %li= article.header
    // %li= article.content
    // TODO make only header visible, and make each element expandable
%div{:class => "button"}
  =link_to "Legg til", articles_path
