%h1{:class => "header"} Innkjøpsliste
%ul
  - for article in @article
    %li
      = article.header
      %div{:class => "dropdown"}= article.content
      %div{:class => "close"} &#10006
%div{:class => "button"}
  =link_to "Legg til", articles_path
